{% extends "base.html" %} {% block title %} Home {% endblock %} {% block js %}{% endblock %} {% block content %}
<section class="home">
    <div class="contact-box">
        <form action="">
            <input type="text" class="input-field" placeholder="Your Name">
            <input type="email" class="input-field" placeholder="Your Email">
            <input type="text" class="input-field" placeholder="Your message">
            <textarea type="text" class="input-field textarea-field" placeholder="Your message">
        </textarea>
            <button type="button" class="btn"> Send Message</button>
        </form>
    </div>
</section>

{% endblock %}