{% extends "base.html" %} {% block title %} Home {% endblock %} {% block js %}{% endblock %} {% block content %}
<section class="home">
    <div class="container">
        <div class="landing">
            <div class="content">
                <h1>
                    Empower Your Success
                    <br> Get the Best Of</br>
                    <span>Ressources</span>
                </h1>
                <p>
                    Get detailed exam papers and more...
                </p>
            </div>
            <div class="image">
                <img src="../static/img/Imagedeprofil.png" alt="" />
            </div>
        </div>
    </div>
    <div class="service-home">
        <div class="book">
            <h3>Math</h3>
            <p>
                Algebra is the first math course in high school and will guide you through among other things integers, one-step equations </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="book">
            <h3> resarch thesis on Physics</h3>
            <p>
                A selection of benchmark problems in solid mechanics and applied mathematics. A physics-informed deep learning framework for inversion and surrogate modeling in solid mechanics...</p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="book">
            <h3>Biology</h3>
            <p>
                Bioimage Analysis. Follow the lifecycle of a bioimage data set from acquisition to analysis <a href="#" class="btn">More</a>
        </div>
</section>
<!-- about Section -->
<section class="about" id="about">
    <div class="flex-container">
        <div class="about-more">
            <p>Get the best educational flex-box on any topic without
                <span>forgetting research theses...</span>
            </p>
        </div>
        <div class="flex-box">
            <h3>Math</h3>
            <p>
                exam 2019-2023
            </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="flex-box">
            <h3>Physics</h3>
            <p>
                exam 2019-2023
            </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="flex-box">
            <h3>French</h3>
            <p>
                exam 2019-2023
            </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="flex-box">
            <h3>thesis English</h3>
            <p>
                Location:Lome University
                <br />
            </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="flex-box">
            <h3>Biology</h3>
            <p>
                exam 2019-2023
            </p>
            <a href="#" class="btn">More</a>
        </div>
        <div class="flex-box">
            <h3>
                Story-Geography
            </h3>
            <p>
                exam 2019-2023
            </p>
            <a href="#" class="btn">More</a>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="plus-services" id="plus-services">
    <h2>More Ressources</h2>
    <p>Learn-Test-Improve</p>
    <div class="info">
        <div class="more-info">
            <img src="../static/img/analyselogique.svg" alt="">
            <p>Analyse an logique</p>
        </div>
        <div class="more-info">
            <img src="../static/img/discover.svg" alt="">
            <p>Discover and learn</p>
        </div>
        <div class="more-info">
            <img src="../static/img/language.svg" alt="">
            <p>Language and comprehension</p>
        </div>
        <div class="more-info">
            <img src="../static/img/application.svg" alt="">
            <p>Test and Application</p>
        </div>
    </div>
</section>
{% endblock %}