{% extends "base.html" %} {% block title %} Sign Up {% endblock %} {% block css %}{% endblock %}{% block js %}{% endblock %} {% block content %}
<div class="home">
    <div class="wrapper">
        <h1>Login</h1>
        <form action="#">
            <input type="text" name="Username" placeholder="Username">
            <input type="password" name="password1" placeholder="Password">
            <div class="recover ">
                <a href="# ">Forgot password?</a>
            </div>
        </form>
        <button class="connect">Login</button>
        <div class="member ">
            Not a member?
            <a href="./residu.html ">Register Here</a>
        </div>
    </div>
</div>
{% endblock %}