{% extends "base.html" %} {% block title %} Sign Up {% endblock %} {% block css %}{% endblock %}{% block js %}{% endblock %} {% block content %}
<div class="home">
    <div class="wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}{% if category == "error" %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
        {%else%}
        <div class="alert" role="alert">
            {{ message }}
            <button type="button"></button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <h1>Sign Up</h1>
        <form method="POST">
            <input type="text" name="Username" placeholder="Username">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder=" Re-Enter Password ">
            <div class="terms ">
                <input type="checkbox " id="checkbox ">
                <label for="checkbox ">I agree to these <a href="# ">Terms &
                        Conditions</a> </label>
            </div>
            <button class="connect"> Sign Up</button>
        </form>

        <div class="member ">
            Already a member?
            <a href="./login.html ">Login Here</a>
        </div>
    </div>
</div>
{% endblock %}