{% extends "base.html" %} {% block title %} Subject {% endblock %} {% block css %}{% endblock %}{% block js %}{% endblock %} {% block content %}
<div class="all_content">
    <div class="featured_boks">

        <h1>Leran with the answers to the exams of last 5 years</h1>

        <div class="featured_book_box">

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Biology Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>English Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>French Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Physics Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Computer science Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Chimical Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Economy Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>

                </div>
            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Chinese Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>

                </div>
            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>art Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>

                </div>
            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Mecanics Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Math Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Story and Geography Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Nature Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Data science Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="../static/img/biologycover.svg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Software Engineer Exam 2019-2020</h2>
                    <p class="writer"> Correction by Professor. John Deo</p>
                    <div class="categories">Biology</div>
                    <p class="book_price">free</p>
                    <a href="#" class="f_btn">see correction</a>
                </div>

            </div>



        </div>

    </div>

    <!--Arrivals-->

    <div class="arrivals">
        <h1>New books for more practice and exercise</h1>

        <div class="arrivals_box">

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="../static/img/MathCover.svg">
                </div>
                <div class="arrivals_tag">
                    <p>Maths</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="arrivals_btn">Learn More</a>
                </div>
            </div>

        </div>

    </div>
</div>{% endblock%}