    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    
    .con {
        background-image: url('../img/background.svg');
    }
    /*
* **** MODIFICATION AU NIVEAU DE LA BARRE DE NAVIGATION ELLE MEME ****
*/
    
    nav {
        position: fixed;
        z-index: 1000;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        background: #fafafa;
        box-shadow: inset 0px -1px 0px #c5c5c6;
    }
    /*
Dans cette partie nous avons la class nav-icon qui prend en compte 
le logo et l'ecriture a cote mis dans un span
*/
    
    .nav-icon {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 20px;
    }
    /*
Cette partie Agi sur le span qui contient le "EduAssit" qui permet
de faire des modiications sur la facon dont il sera afficher
*/
    
    .nav-icon span {
        font-family: Roboto flex, sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: #333;
    }
    /*
Cette partie s'occupe de la navigation plus precisement de l'image et
lui donne des caracteristique comme la taille
*/
    
    .nav-icon img {
        width: 50px;
    }
    /*
* Modification de tous les elements de home a contact
*/
    
    .navlinks-container a {
        margin: 15px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #414141;
        display: inline-block;
        position: relative;
    }
    /*
* Modification de tous les elements de home a contact avec une animation de soulignement
*/
    
    .navlinks-container a::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        background: #333;
        transition: 0.3s ease-out;
    }
    
    .navlinks-container a:hover::after {
        transform: scaleX(1);
    }
    /*
* majout de l'espace netre la partie des taches et celle de connexion
*/
    
    .nav-authentication {
        margin-left: auto;
        margin-right: 50px;
    }
    /*
Modification des bouton de connexion
*/
    
    .sign-btns button {
        font-family: Roboto Flex, sans-serif;
        font-size: 16px;
        min-width: 90px;
        padding: 10px 5px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    
    .sign-btns button:nth-child(2) {
        border: none;
        background: #00aeff;
    }
    
    .sign-user {
        display: none;
    }
    
    .humberger {
        display: none;
    }
    /*
* **** FIN MODIFICATION AU NIVEAU DE LA BARRE DE NAVIGATION ELLE MEME ****
*/
    
    section {
        padding: 80px;
        width: auto;
    }
    
    .h1-section-title {
        font-size: 3.8rem;
        margin: 15px 0;
    }
    
    .h1-section-title span {
        color: white;
    }
    
    .first-case-continer p {
        font-size: 20px;
    }
    
    .box-container {
        padding: 15px 9px;
        padding-bottom: 100px;
    }
    
    .box {
        background-repeat: no-repeat;
    }
    /*
* **** FIN MODIFICATION AU NIVEAU DE LA BARRE DE NAVIGATION ELLE MEME ****
*/
    /*DEBUT DE LA PARTIE RESPONSIVE*/
    
    @media (max-width: 978px) {
        nav {
            padding: 15px 20px;
            position: fixed;
            z-index: 1000;
        }
        .nav-icon span {
            font-size: 22px;
        }
        .nav-icon {
            order: 2;
            margin: 0 auto;
        }
        .main-navlinks {
            order: 1;
        }
        .nav-authentication {
            order: 3;
            margin-left: 0;
        }
        /*
* Il s'agit de la manipulation de notre humberger
*/
        .humberger {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: none;
            display: none;
            background: #fafafa;
            align-items: center;
            position: relative;
        }
        .humberger span {
            display: block;
            width: 100%;
            height: 2px;
            background: #333;
            position: absolute;
            pointer-events: none;
            transition: opacity 0.3s 0.15s ease-out;
        }
        .humberger span:nth-child(1),
        .humberger span:nth-child(3) {
            transition: transform 0.3s ease-out;
        }
        .humberger span:nth-child(1) {
            transform: translateY(7px);
        }
        .humberger span:nth-child(3) {
            transform: translateY(-7px);
        }
        .humberger.open span:nth-child(1) {
            transform: translate(0) rotate(135deg);
        }
        .humberger.open span:nth-child(2) {
            opacity: 0;
            transition: opacity 0s ease-out;
        }
        .humberger.open span:nth-child(3) {
            transform: translate(0) rotate(-135deg);
        }
        .navlinks-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            background: #fafafa;
            top: 100%;
            left: 0;
            height: 100vh;
            border-right: 1px solid #c5c5c6;
            transform: translate(-100%);
            padding: 15px 50px 15px 20px;
        }
        .open {
            transform: translate(0%);
        }
        .navlinks-container a {
            font-size: 18px;
            margin: 10px 0;
        }
        .sign-btns {
            display: none;
        }
        .sign-user {
            display: block;
            cursor: pointer;
            border: none;
        }
        .sign-user img {
            width: 40;
        }
        .humberger {
            display: flex;
        }
    }
    
    @media (max-width: 500px) {
        .nav-icon img {
            width: 30px;
        }
        .nav-icon span {
            font-size: 20px;
        }
    }
    /***** FIN DE LA PARTIE RESPONSIVE *****/
    
    section {
        padding: 80px;
        width: auto;
    }
    
    .h1-section-title {
        font-size: 3.8rem;
        margin: 15px 0;
    }
    
    .h1-section-title span {
        color: white;
    }
    
    .first-case-continer p {
        font-size: 20px;
    }
    
    .box-container {
        padding: 15px 9px;
        padding-bottom: 100px;
    }
    
    .box {
        background-repeat: no-repeat;
    }
    /* Footer Bar */
    /* Footer Bar */
    
    footer {
        position: relative;
        bottom: 0;
        background-image: url('../img/physics.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    footer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 100px;
        height: 1px;
        width: 100%;
        background: #040411;
    }
    
    footer .footer-content {
        max-width: 1100px;
        margin: auto;
        padding: 30px 40px 40px 40px;
    }
    
    footer .footer-content .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    .footer-content .top .logo-details {
        color: #000000;
        font-size: 30px;
    }
    
    footer .footer-content .link-boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    footer .footer-content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    
    .footer-content .link-boxes .box .link_name {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        position: relative;
    }
    
    .link-boxes .box .link_name::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 35px;
        background: #010101;
    }
    
    .footer-content .link-boxes .box li {
        margin: 6px 0;
        list-style: none;
    }
    
    .footer-content .link-boxes .box li a {
        color: #000000;
        font-size: 19px;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.4s ease;
    }
    
    .footer-content .link-boxes .box li a:hover {
        opacity: 1;
        text-decoration: underline;
    }
    
    .footer-content .link-boxes .input-box {
        margin-right: 55px;
    }
    
    .link-boxes .input-box input {
        height: 40px;
        width: calc(100% + 55px);
        outline: none;
        border: 2px solid #3434a5;
        background: #3128d4;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 15px;
        margin-top: 5px;
    }
    
    .input-box input::placeholder {
        color: #afafb6;
        font-size: 16px;
    }
    
    .input-box input[type="button"] {
        background: #fff;
        color: #1f1c34;
        font-size: 18px;
        font-weight: 500;
        margin: 4px 0;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .input-box input[type="button"]:hover {
        opacity: 1;
    }
    
    footer .bottom-details {
        width: 100%;
        background: #230cd1;
    }
    
    footer .bottom-details .bottom_text {
        max-width: 1250px;
        margin: auto;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }
    
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
    }
    
    .bottom-details .bottom_text a:hover {
        opacity: 1;
        text-decoration: underline;
    }
    
    .bottom-details .bottom_text a {
        margin-right: 10px;
    }