.contact-box {
    margin-top: 200px;
    width: 500px;
    box-shadow: 0 0 20 px 0 #999;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: px solid #777;
    border-radius: 14px;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: darkblue;
    font-size: 12px;
    border: none;
    cursor: pointer;
}